ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    background: rgba(255, 255, 255, 0);
}

li {
    float: left;
}

li a.pointer{
    display: block;
    color: rgba(255,255,255,.8);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3px;
}
#name {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 130%;
    font-family: sans-serif;
    margin-left: 80px;
    font-weight: bold;
}
#lang {
    margin-left: 70px;
}

li a.pointer:hover {
    color: white;
}
